* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-bg: #12131A;
    --background-cards: #1C1F2A;
    --main-text: #F2F2F7;
    --secondary-text: #B4B7C9;
    --card-violet: #C99DFF;
    --card-orange: #FFB21E;
    --card-coral: #FF8A65;
    --progress-bars: #D19BFF;
    --edges: #2A2D3A;
}

/* Header Styles and Background */

body {
    background-color: #232631;
    font-family: "Space Grotesk", sans-serif;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 40px;
}
.background {
    background-color: var(--main-bg);
}

header {
    display: flex;
    align-items: center;
    padding: 5px;
    background-color: var(--main-bg);
}

header p {
    color: var(--main-text);
    font-size: 14px;
    font-weight: 400;
}

header img {
    width: 30px;
    height: 30px;
}

/* Container Styles */

.container{
    width: 550px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
}

h1{
    color: var(--main-text);
    text-align:center;
    font-size: 40px;
    margin: 30px 100px 30px 100px;
}

textarea{
    width: 90%;
    height: 150px;
    background-color: var(--background-cards);
    border: 2px solid var(--edges);
    border-radius: 15px;
    padding: 20px;
    color: var(--secondary-text);
    font-size: 18px;
    resize: none;
    display: block;
    margin: 0 auto;
}

label{
    color: var(--secondary-text);
    font-size: 10px;
    margin: 10px 0px 10px 0px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.excludeSpaces{
    margin-left: 30px;
}

input[type="checkbox"]{
    appearance: none;
    width: 13px;
    height: 13px;
    border: 2px solid var(--secondary-text);
    background: transparent;
    border-radius: 4px;
}

.options{
    display: flex;
    gap: 20px;
}

.timer{
    color: var(--secondary-text);
    font-size: 10px;
    margin-top: 10px;
    margin-right: 30px;
    display: flex;
    margin-left:auto
}