* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-bg: #12131A;
    --background-cards: #1C1F2A;
    --main-text: #F2F2F7;
    --secondary-text: #B4B7C9;
    --card-violet: #C99DFF;
    --card-orange: #FFB21E;
    --card-coral: #FF8A65;
    --progress-bars: #D19BFF;
    --edges: #2A2D3A;
}

/* ---------------Header Styles and Background--------------- */
body {
    background-color: #232631;
    font-family: "Space Grotesk", sans-serif;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 40px;
}
.background {
    background-color: var(--main-bg);
    padding: 10px 20px 30px 20px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    background-color: var(--main-bg);
}

.logo{
    display: flex;
    align-items: center;
    gap: 3px;
    margin-left: -10px;
}

header p {
    color: var(--main-text);
    font-size: 14px;
    font-weight: 400;
}

header img {
    width: 30px;
    height: 30px;
}

/* ---------------Container Styles--------------- */
.container {
    width: 500px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
}

h1 {
    color: var(--main-text);
    text-align:center;
    font-size: 40px;
    margin: 30px 40px 30px 40px;
}

textarea {
    width: 100%;
    height: 150px;
    background-color: var(--background-cards);
    border: 2px solid var(--edges);
    border-radius: 15px;
    padding: 20px;
    color: var(--secondary-text);
    font-size: 18px;
    resize: none;
    display: block;
    margin:0px;
}

/* ---------------Checkboxes--------------- */
label {
    color: var(--secondary-text);
    font-size: 11px;
    margin: 10px 0px 10px 0px;
    display: flex;
    gap: 5px;
}

input[type="checkbox"]{
    appearance: none;
    width: 13px;
    height: 13px;
    border: 2px solid var(--secondary-text);
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
}


/* ---------------When marked--------------- */
.check:checked{
    background: white;
}

.check:checked::after{
    content: "✓";
    color: black;
    font-size: 14px;
    line-height: 1;
    font-weight: bold;
}

.options {
    display: flex;
    gap: 20px;
}

.timer {
    color: var(--secondary-text);
    font-size: 11px;
    margin-top: 10px;
    display: flex;
    margin-left:auto
}

/* ---------------Metric cards--------------- */
.stats  {
    display: flex;
    gap: 10px;
    margin-top: 15px;
    font-size: 12px;
}

.stats div  {
    flex: 1;
    transition: transform 0.5s ease;
}

.stats div:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 17px 6px rgba(0,0,0,0.71);
}

.purple-card {
    background-color: var(--card-violet);
    padding: 15px 15px 15px 8px;
    border-radius: 10px;
}

.orange-card {
    background-color: var(--card-orange);
    padding: 15px 15px 15px 8px;
    border-radius: 10px;
}

.red-card {
    background-color: var(--card-coral);
    padding: 15px 15px 15px 8px;
    border-radius: 10px;
}

.count {
    font-size: 36px;
}

/* ---------------Color change button---------------*/
.change-color {
    background: var(--background-cards);
    cursor: pointer;
    border: none;
    outline: none;
    padding: 8px;
    border-radius: 5px;
    display: flex;
    transition: background 0.3s ease, transform 0.3s ease
}

.change-color img {
    width: 15px;
    height: 15px;
}

.change-color:hover {
    background: white;
}

.change-color:hover img {
    filter: brightness(0) invert(0)
}

/* ---------------Metrics--------------- */
.metrics {
    color: var(--main-text);
}

.density {
    margin: 15px 0px 15px 0px;
    font-size: 18px;
    font-weight: 400;
}

.bars {
    display: grid;
    grid-template-columns: 25px 1fr 70px;
    align-items: center;
    width: 100%;
    margin-bottom: 5px;
}

.bars span:first-child {
    text-align: left;
    font-size: 12px;
}

.bars span:last-child {
    text-align: right;
    font-size: 11px;
    color: var(--secondary-text);
}

progress {
    overflow: hidden;
    border-radius: 8px;
    width: 100%;
    appearance: none;
    -webkit-appearance: none;
    height: 10px;
}

progress::-webkit-progress-bar {
    background-color: var(--background-cards);
    border-radius: 8px;
}

progress::-webkit-progress-value {
    background-color: var(--progress-bars);
    border-radius: 8px;
    transition: width 0.3s ease;
}

/* ---------------See more button--------------- */
summary {
  list-style: none;
  cursor: pointer;
  margin-top: 15px;
  font-size: 14px;
}

summary::after {
  content: "v";
  display: inline-block;
  font-size: 0.9em;
  transition: transform 0.3s;
}

details[open] summary::after {
  transform: rotate(-90deg);
}

details p {
  margin-top: 10px;
  font-size: 12px;
  color: var(--secondary-text);
}